.LogwarenBild
{
	position:absolute;
	z-index:2;
	height:25;
	width:25;
	right:70;
	background-color:#7fffff;
}
.LogFeld
{
	position:absolute;
	font-style:italic;
	z-index:2;
	height:20;
	width:50;
	right:15;
	background-color:transparent;
	border:transparent;
}
#Log2
{
	visibility:hidden;
	background-image:url('../Icon/Stadt.Ischtuk/LogBild.png');
	position:absolute;
	left:10;
	top:170;
	z-index:2;
	height:360;
	width:120;
}
#Ischtuk
{
	position:absolute;
	background-image:url('../Icon/Stadt.Ischtuk/Ischtuk.png');
	visibility:hidden;
	right:20;
	z-index:34;
	height:120;
	width:600;
	Background-color:Transparent;
}
#IschtukHafenBild
{
	background-image:url('../Icon/Stadt.Ischtuk/IschtukHafenBild.png');
	position:absolute;
	left:20;
	z-index:34;
	height:60;
	width:60;
	Background-color:transparent;
}#IschtukHafenBild2
{
	background-image:url('../Icon/Stadt.Ischtuk/HafenBild.png');
	position:absolute;
	right:50;
	z-index:2;
	top:10;
	width:260;
	height:100;
	Background-color:transparent;
}
#IschtukExit
{
	background-image:url('../Icon/Stadt.Ischtuk/Exit.png');
	position:absolute;
	z-index:34;
	right:0;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukLeute
{
	position:absolute;
	top:-5;
	height:23;
	width:90;
	background-color:lime;
	font-size:16px;
	color:green;
	left:90;
}
#IschtukGeld
{
	position:absolute;
	top:30;
	height:23;
	width:90;
	background-color:lime;
	font-size:16px;
	color:green;
	left:90;
}
#IschtukNahrung
{
	position:absolute;
	top:65;
	height:23;
	width:90;
	background-color:lime;
	font-size:16px;
	color:green;
	left:90;
}
#IschtukTaverneAnheuern
{
	background-image:url('../Icon/Stadt.Ischtuk/Anheuern.png');
	position:absolute;
	z-index:34;
	right:60;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukTaverneExit
{
	background-image:url('../Icon/Stadt.Ischtuk/exit.png');
	position:absolute;
	z-index:34;
	right:0;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukTaverneKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Taverne.png');
	position:absolute;
	z-index:34;
	right:60;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukTaverne
{
	visibility:hidden;
	background-image:url('../Icon/Stadt.Ischtuk/TaverneLeer.png');
	position:absolute;
	top:120;
	right:0;
	z-index:14;
	height:450;
	width:600;
}
#IschtukTaverneFenster
{
	background-image:url('../Icon/Stadt.Ischtuk/Wolken100X100.png');
	position:absolute;
	top:36;
	right:144;
	height:100;
	width:100;
}
#IschtukTaverneFenster2
{
	background-image:url('../Icon/Stadt.Ischtuk/Fenster.png');
	position:absolute;
	top:30;
	right:130;
	height:112;
	width:129;
}
#IschtukTaverneTheke
{
	background-image:url('../Icon/Stadt.Ischtuk/TaverneThekeLeer.png');
	position:absolute;
	top:0;
	right:0;
	z-index:11;
	height:450;
	width:600;
}
#IschtukTaverneLeute
{
	background-image:url('../Icon/Stadt.Ischtuk/TaverneLeute.png');
	position:absolute;
	top:137;
	left:70;
	z-index:16;
	height:165;
	width:165;
}
#IschtukTaverneHund
{
	background-image:url('../Icon/Stadt.Ischtuk/Hund1.png');
	position:absolute;
	top:237;
	left:350;
	z-index:12;
	height:90;
	width:90;
}
#IschtukTaverneBilderRahmenSchiff
{
	background-image:url('../Icon/Stadt.Ischtuk/BilderRahmenSchiff.png');
	position:absolute;
	top:50;
	left:160;
	z-index:12;
	height:73;
	width:100;
}
#IschtukTaverneBilderRahmenSchiff2
{
	background-image:url('../Icon/Stadt.Ischtuk/BilderRahmenSchiff2.png');
	position:absolute;
	top:70;
	right:20;
	z-index:12;
	height:89;
	width:33;
}
#IschtukTaverneBarceeper
{
	background-image:url('../Icon/Stadt.Ischtuk/TaverneBarceeper.png');
	position:absolute;
	top:139;
	right:160;
	z-index:16;
	height:50;
	width:50;
}
#IschtukTaverneSchatzKarte
{
	background-image:url('../Icon/Stadt.Ischtuk/TaverneSchatzKarte.png');
	position:absolute;
	top:259;
	right:30;
	z-index:16;
	height:169;
	width:157;
}
#IschtukTavernePersonal
{
	background-image:url('../Icon/Stadt.Ischtuk/TavernePersonal.png');
	position:absolute;
	top:265;
	left:30;
	z-index:36;
	height:174;
	width:220;
}
#IschtukKontor
{
	visibility:hidden;
	position:absolute;
	top:90;
	right:0;
	z-index:14;
	height:80;
	width:600;
}
#IschtukKontorExitKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/exit.png');
	position:absolute;
	z-index:80;
	top:20;
	right:20;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukKontorKaufenKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Kaufen.png');
	position:absolute;
	z-index:34;
	right:60;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukKontorVerkaufenKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Verkaufen.png');
	position:absolute;
	z-index:34;
	right:120;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukKontorKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Kontor.png');
	position:absolute;
	z-index:54;
	right:120;
	height:60;
	width:60;
	Background-color:transparent;
}
#Ischtukkontorbild
{
	position:absolute;
	background-image:url('../Icon/Stadt.Ischtuk/Kontorbild.png');
	width:420;
	height:450;
	z-index:44;
	right:0;
	top:20;
}
.warenBild
{
	position:absolute;
	left:40;
	border:transparent;
	background-color:transparent;
	width:20;
	z-index:44;
	height:20;
}
.warenMenge
{
	position:absolute;
	left:65;
	width:30;
	border:transparent;
	background-color:transparent;
}
.warenPreis
{
	position:absolute;
	font-style:italic;
	left:340;
	width:60;
	border:transparent;
	background-color:transparent;
}
.warenName
{
	position:absolute;
	font-style:italic;
	left:230;
	border:transparent;
	background-color:transparent;
	width:70;
}
.kaufen1
{
	background-image:url('../Icon/Stadt.Ischtuk/kaufen1.png');
	position:absolute;
	left:160;
	background-color:#AEFF9E;
	width:20;
	height:20;
}
.kaufen5
{
	background-image:url('../Icon/Stadt.Ischtuk/kaufen5.png');
	position:absolute;
	left:180;
	background-color:#8CFF75;
	width:20;
	height:20;
}
.kaufen10
{
	background-image:url('../Icon/Stadt.Ischtuk/kaufen10.png');
	position:absolute;
	left:200;
	background-color:#4AFF26;
	width:20;
	height:20;
}
.verkaufen1
{
	background-image:url('../Icon/Stadt.Ischtuk/kaufen1.png');
	position:absolute;
	left:140;
	background-color:#FF9E9E;
	width:20;
	height:20;
}
.verkaufen5
{
	background-image:url('../Icon/Stadt.Ischtuk/kaufen5.png');
	position:absolute;
	left:120;
	background-color:#FF6868;
	width:20;
	height:20;
}
.verkaufen10
{
	background-image:url('../Icon/Stadt.Ischtuk/kaufen10.png');
	position:absolute;
	left:100;
	background-color:#FF1414;
	width:20;
	height:20;
}
#IschtukHafen
{
	visibility:hidden;
	position:absolute;
	top:90;
	right:0;
	z-index:54;
	height:80;
	width:600;
	Background-color:transparent;
}
#IschtukHafenExitKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/exit.png');
	position:absolute;
	z-index:54;
	right:0;
	top:5;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukHafenUpgradeExitKnopf
{
	visibility:hidden;
	background-image:url('../Icon/Stadt.Ischtuk/exit.png');
	position:absolute;
	z-index:60;
	top:5;
	right:0;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukHafenReparierenKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Reparieren.png');
	position:absolute;
	z-index:34;
	top:361;
	right:90;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukHafenKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Hafen.png');
	position:absolute;
	z-index:34;
	right:180;
	height:60;
	width:60;
	Background-color:transparent;
}
	
#IschtukHafen
{
	background-image:url('../Icon/Stadt.Ischtuk/StadtHafen.png');
	position:absolute;
	right:0;
	z-index:62;
	top:120;
	width:600;
	height:450;
}
#ExpeditionsSchiff
{
	background-image:url('../Icon/Stadt.Ischtuk/ExpeditionsSchiff.png');
	position:absolute;
	left:0;
	z-index:66;
	top:250;
	width:180;
	height:160;
}
#HafenUpgrade
{
	background-image:url('../Icon/Stadt.Ischtuk/HafenUpgrade.png');
	position:absolute;
	right:7;
	z-index:60;
	top:165;
	width:236;
	height:115;
}
#Angeln
{
	background-image:url('../Icon/Stadt.Ischtuk/Angeln.png');
	position:absolute;
	left:232;
	z-index:66;
	top:312;
	width:136;
	height:135;
}
#KistenSammeln
{
	background-image:url('../Icon/Stadt.Ischtuk/KistenSammeln.png');
	position:absolute;
	left:232;
	z-index:66;
	top:165;
	width:90;
	height:90;
}
#IschtukGovernour
{
	visibility:hidden;
	background-image:url('../Icon/Stadt.Ischtuk/stadt.png');
	position:absolute;
	top:90;
	right:0;
	z-index:14;
	height:80;
	width:600;
	Background-color:transparent;
}
#IschtukGovernourExitKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/exit.png');
	position:absolute;
	z-index:34;
	right:0;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukGovernourInfoKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Info.png');
	position:absolute;
	z-index:34;
	right:60;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukGovernourHomeKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Home.png');
	position:absolute;
	z-index:34;
	right:120;
	height:60;
	width:60;
	Background-color:transparent;
}
#IschtukGovernourKnopf
{
	background-image:url('../Icon/Stadt.Ischtuk/Governour.png');
	position:absolute;
	z-index:134;
	right:240;
	height:60;
	width:60;
	Background-color:transparent;
}
