img{
position:absolute;
}

body{
overflow:hidden;
}
#bewegungsCounter{
visibility:hidden;
position:absolute;
left:0;
bottom:100;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
#bewegungsCounter2{
visibility:hidden;
position:absolute;
right:0;
bottom:100;
height:60;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
#bewegungsCounter3{
visibility:hidden;
position:absolute;
right:340;
bottom:100;
height:60;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
#Log1{
visibility:hidden;
background-image:url('images/Log.png');
position:absolute;
left:0;
top:200;
z-index:34;
height:120;
width:90;
}
#Symbole{
background-image:url('images/Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole2{
background-image:url('images/Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole3{
background-image:url('images/Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole4{
background-image:url('images/Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Leute1{
position:absolute;
top:13;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Geld1{
position:absolute;
top:45;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Nahrung1{
position:absolute;
top:80;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Leute2{
position:absolute;
top:13;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Geld2{
position:absolute;
top:45;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Nahrung2{
position:absolute;
top:80;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
.LogwarenBild{

position:absolute;
z-index:34;
height:25;
width:25;
right:70;
background-color:#7fffff;
}

.LogFeld{
position:absolute;
font-style:italic;
z-index:34;
height:20;
width:50;
right:15;
background-color:transparent;
border:transparent;
}
#Log2{
visibility:hidden;
background-image:url('images/LogBild.png');
position:absolute;
right:10;
top:170;
z-index:34;
height:360;
width:120;
}
#pirat1{
visibility:visible;
background-image:url('images/pirat1.png');
position:absolute;
top:0;
left:0;
z-index:12;
height:30;
width:30;
}
#Kompass{
background-image:url('images/Kompass.png');
position:absolute;
z-index:45;
left:590;
bottom:0;
height:46;
width:60;
}
#HavannaP1{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HavannaP1HafenBild{
background-image:url('images/HavannaHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1Leute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP1Geld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP1Nahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP1Exit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1TaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1Taverne{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP1TaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1TaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1Kontor{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP1KontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1KontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1KontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1KontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1Hafen{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP1HafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1HafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1HafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}

#HavannaP2Leute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP2Geld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP2Nahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP2{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
right:0;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HavannaP2HafenBild{
background-image:url('images/HavannaHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2Exit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2TaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2Taverne{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP2TaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2TaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2Kontor{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP2KontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2KontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2KontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2KontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2Hafen{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP2HafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2HafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2HafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
left:0;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#IschtukP1HafenBild{
/*visibility:hidden;*/
background-image:url('images/IschtukHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1Exit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1TaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1Leute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP1Geld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP1Nahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP1TaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1TaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1Taverne{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP1Kontor{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP1KontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1KontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1KontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}

#IschtukP1KontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1Hafen{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP1HafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1HafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1HafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2{
visibility:hidden;
position:absolute;
right:0;
z-index:34;
height:80;
width:600;
Background-color:Transparent;
}
#IschtukP2HafenBild{
background-image:url('images/IschtukHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2Exit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2Leute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP2Geld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP2Nahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP2TaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2TaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2TaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}

#IschtukP2Taverne{
visibility:hidden;
background-image:url('images/TaverneLeer.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:450;
width:600;
}
#IschtukP2TaverneTheke{
background-image:url('images/TaverneThekeLeer.png');
position:absolute;
top:0;
right:0;
z-index:15;
height:450;
width:600;
}
#IschtukP2TaverneLeute{
background-image:url('images/TaverneLeute.png');
position:absolute;
top:137;
left:70;
z-index:16;
height:165;
width:165;
}
#IschtukP2TaverneBarceeper{
background-image:url('images/TaverneBarceeper.png');
position:absolute;
top:139;
right:160;
z-index:16;
height:50;
width:50;
}
#IschtukP2Kontor{
visibility:hidden;
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
}
#IschtukP2KontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}

#IschtukP2KontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2KontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2KontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2kontorbild{
position:absolute;
background-image:url('images/Kontorbild.png');
width:420;
height:450;
z-index:44;
left:10;
top:0;
}
#HavannaP2Popup{
position:absolute;
right:0;
top:0;
}
#HavannaP2Shotdown{
position:absolute;
right:0;
top:20;
}
#HavannaP2{
position:absolute;
visibility:hidden;
background-color:#B6CDFF;
width:400;
height:400;
left:350;
top:40;
}
.warenBild{
position:absolute;
left:40;
background-color:#7fffff;
width:25;
z-index:44;
height:25;
}
.warenMenge{
position:absolute;
left:65;
width:30;
border:transparent;
background-color:transparent;
}
.warenPreis{
position:absolute;
font-style:italic;
left:340;
width:60;
border:transparent;
background-color:transparent;
}
.warenName{
position:absolute;
font-style:italic;
left:230;
border:transparent;
background-color:transparent;
width:70;
}
.kaufen1{
background-image:url('images/kaufen1.png');
position:absolute;
left:160;
background-color:#AEFF9E;
width:20;
height:20;
}
.kaufen5{
background-image:url('images/kaufen5.png');
position:absolute;
left:180;
background-color:#8CFF75;
width:20;
height:20;
}
.kaufen10{
background-image:url('images/kaufen10.png');
position:absolute;
left:200;
background-color:#4AFF26;
width:20;
height:20;
}
.verkaufen1{
background-image:url('images/kaufen1.png');
position:absolute;
left:140;
background-color:#FF9E9E;
width:20;
height:20;
}
.verkaufen5{
background-image:url('images/kaufen5.png');
position:absolute;
left:120;
background-color:#FF6868;
width:20;
height:20;
}
.verkaufen10{
background-image:url('images/kaufen10.png');
position:absolute;
left:100;
background-color:#FF1414;
width:20;
height:20;
}
#IschtukP2Hafen{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP2HafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2HafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2HafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2Governour{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP2GovernourExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2GovernourInfoKnopf{
background-image:url('images/Info.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2GovernourHomeKnopf{
background-image:url('images/Home.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2GovernourKnopf{
background-image:url('images/Governour.png');
position:absolute;
z-index:34;
right:240;
height:60;
width:60;
Background-color:blue;
}
#WindHosenBild{
position:absolute;
z-index:54;
height:50;
width:50;
bottom:0;
left:600;
}
#HaschJutti3000{
position:absolute;
top:0;
right:0;
height:50;
width:210;
z-index:21;
color:lime;
background-color:navy;
}
div#minimapcontainer {
z-index:24;
opacity:.37;
}
canvas#minimap {
 position:absolute;
 z-index:24;
 opacity:.37;
 background-color:navy;
}
canvas#minimapobjects {
 position : absolute;
 z-index:24;
 opacity:.37;
}