body{
background-color:black;
overflow:hidden;
}
#bewegungsCounter{
position:absolute;
left:0;
z-index:45;
bottom:100;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
#bewegungsCounter2{
position:absolute;
right:0;
z-index:45;
bottom:100;
height:60;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
#bewegungsCounter3{
position:absolute;
right:340;
z-index:45;
bottom:100;
height:60;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
.KielWasser{
background-image:url('images/KielWasser.png');
position:absolute;
z-index:2;
height:60;
width:60;
}
#Log1{
visibility:hidden;
background-image:url('images/Log.png');
position:absolute;
left:0;
top:200;
z-index:34;
height:120;
width:90;
}
#Symbole{
background-image:url('images/Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole2{
background-image:url('images/Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole3{
background-image:url('images/Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole4{
background-image:url('images/Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Leute1{
position:absolute;
top:13;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Geld1{
position:absolute;
top:45;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Nahrung1{
position:absolute;
top:80;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Leute2{
position:absolute;
top:13;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Geld2{
position:absolute;
top:45;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Nahrung2{
position:absolute;
top:80;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Log2{
visibility:hidden;
background-image:url('images/Log.png');
position:absolute;
right:0;
top:200;
z-index:34;
height:120;
width:90;
}
#Karte{
visibility:visible;
background-image:url('images/Meer.png');
position:absolute;
top:30;
z-index:1;
height:840;
width:1250;
}
#Wolke1{
background-image:url('images/Wolke.png');
position:absolute;
top:300;
left:200;
z-index:50;
height:150;
width:200;
}
#Wolke2{
background-image:url('images/Wolke2.png');
position:absolute;
top:900;
left:800;
z-index:50;
height:200;
width:300;
}
#Wolke3{
background-image:url('images/Wolke3.png');
position:absolute;
top:400;
left:600;
z-index:50;
height:200;
width:300;
}
#Kugel1{
visibility:visible;
background-image:url('images/Kugel1.png');
position:absolute;
top:1900;
left:1800;
z-index:50;
height:50;
width:50;
}
#WasserEinschlag1{
visibility:visible;
background-image:url('images/WasserEinschlag.png');
position:absolute;
top:1900;
left:1800;
z-index:50;
height:60;
width:60;
}
#WasserEinschlag2{
visibility:visible;
background-image:url('images/WasserEinschlag.png');
position:absolute;
top:1900;
left:1800;
z-index:50;
height:60;
width:60;
}
#GewitterWolke{
visibility:visible;
background-image:url('images/GewitterWolke.png');
position:absolute;
top:120;
left:120;
z-index:50;
height:150;
width:200;
}
#pirat1{
visibility:visible;
background-image:url('images/pirat1.png');
position:absolute;
top:0;
left:0;
z-index:50;
height:30;
width:30;
}
#Kompass{
background-image:url('images/Kompass.png');
position:absolute;
z-index:45;
left:590;
bottom:0;
height:46;
width:60;
}
#Insel{
visibility:visible;
background-image:url('images/Insel.png');
position:absolute;
z-index:1;
left:300;
top:300;
height:200;
width:200;
}
#HavannaP1{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HavannaP1HafenBild{
background-image:url('images/HavannaHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1Leute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP1Geld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP1Nahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP1Exit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1TaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1Taverne{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP1TaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1TaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1Kontor{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP1KontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1KontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1KontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1KontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1Hafen{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP1HafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1HafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP1HafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}

#HavannaP2Leute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP2Geld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP2Nahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaP2{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
right:0;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HavannaP2HafenBild{
background-image:url('images/HavannaHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2Exit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2TaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2Taverne{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP2TaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2TaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2Kontor{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP2KontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2KontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2KontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2KontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2Hafen{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaP2HafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2HafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaP2HafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
left:0;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#IschtukP1HafenBild{
/*visibility:hidden;*/
background-image:url('images/IschtukHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1Exit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1TaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1Leute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP1Geld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP1Nahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP1TaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1TaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1Taverne{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP1Kontor{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP1KontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1KontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1KontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}

#IschtukP1KontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1Hafen{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP1HafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1HafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP1HafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
right:0;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#IschtukP2HafenBild{
background-image:url('images/IschtukHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2Exit{
background-image:url('images/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2Leute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP2Geld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP2Nahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#IschtukP2TaverneAnheuern{
background-image:url('images/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2TaverneExit{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2TaverneKnopf{
background-image:url('images/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}

#IschtukP2Taverne{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP2Kontor{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP2KontorExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}

#IschtukP2KontorKaufenKnopf{
background-image:url('images/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2KontorVerkaufenKnopf{
background-image:url('images/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2KontorKnopf{
background-image:url('images/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2Hafen{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP2HafenExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2HafenReparierenKnopf{
background-image:url('images/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2HafenKnopf{
background-image:url('images/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2Governour{
visibility:hidden;
background-image:url('images/Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#IschtukP2GovernourExitKnopf{
background-image:url('images/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2GovernourInfoKnopf{
background-image:url('images/Info.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2GovernourHomeKnopf{
background-image:url('images/Home.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#IschtukP2GovernourKnopf{
background-image:url('images/Governour.png');
position:absolute;
z-index:34;
right:240;
height:60;
width:60;
Background-color:blue;
}
#MyDiv{
position:absolute;
z-index:3;
height:60;
width:60;
}
#MyDiv2{
position:absolute;
z-index:3;
height:60;
width:60;
}
#WindHosenBild{
position:absolute;
z-index:54;
height:50;
width:50;
bottom:0;
left:600;
}
#HaschJutti3000{
position:absolute;
top:0;
right:0;
height:50;
width:210;
z-index:21;
color:lime;
background-color:navy;
}
div#minimapcontainer {	
}
canvas#minimap {
 position : absolute;
 background-color:navy;
}
canvas#minimapobjects {
 position : absolute;
}