/*Amnesty.0.0.26.2010.08.21.Face.css*/
body
{
	background-color:black;
	overflow:hidden;
}
.KielWasser
{
	background-image:url('Icon/KielWasser2.png');
	position:absolute;
	z-index:2;
	height:60px;
	width:61px;
}
#Symbole,#Symbole2,#Symbole3,#Symbole4
{
	background-image:url('Icon/Log.png');
	position:absolute;
	left:60px;
	top:-20px;
	height:120px;
	width:90px;
}
#Leute1
{
	position:absolute;
	top:13px;
	right:7px;
	height:30px;
	width:45px;
	background-color:lime;
	font-size:16px;
	color:green;
}
#Geld1
{
	position:absolute;
	top:45px;
	right:7px;
	height:30px;
	width:45px;
	background-color:lime;
	font-size:16px;
	color:green;
}
#Nahrung1
{
	position:absolute;
	top:80px;
	right:7px;
	height:30px;
	width:45px;
	background-color:lime;
	font-size:16px;
	color:green;
}
#theWelt
{
	visibility:visible;
	background-image:url('Icon/CanvasBG.png');
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:50;
	height:200px;
	width:200px;
}
#Karte
{
	visibility:visible;
	background-image:url('Icon/Meer.png');
	position:absolute;
	top:30px;
	z-index:1;
	height:6840px;
	width:7000px;
}
#Kugel1
{
	visibility:visible;
	background-image:url('Icon/Kugel1.png');
	position:absolute;
	top:1900px;
	left:1800px;
	z-index:50;
	height:50px;
	width:50px;
}
#WasserEinschlag1,#WasserEinschlag2
{
	visibility:visible;
	background-image:url('Icon/WasserEinschlag.png');
	position:absolute;
	top:1900px;
	left:1800px;
	z-index:50;
	height:60px;
	width:60px;
}
#WindHosenBild
{
	position:fixed;
	z-index:121;
	height:50px;
	width:50px;
	bottom:0px;
	left:600;
}
