body{
background-color:black;
overflow:hidden;
}
#bewegungsCounter{
position:absolute;
visibility:hidden;
left:0;
z-index:45;
bottom:100;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
.KielWasser{
background-image:url('../Icon/KielWasser.png');
position:absolute;
z-index:2;
height:60px;
width:60px;
}
#Symbole,#Symbole2,#Symbole3,#Symbole4{
	background-image:url('../Icon/Log.png');
	position:absolute;
	left:60;
	top:-20;
	height:120px;
	width:90px;
}
#Leute1,#Leute2{
position:absolute;
top:13;
right:7;
height:30px;
width:45px;
background-color:lime;
font-size:16px;
color:green;
}
#Geld1,#Geld2{
position:absolute;
top:45;
right:7;
height:30px;
width:45px;
background-color:lime;
font-size:16px;
color:green;
}
#Nahrung1,#Nahrung2{
position:absolute;
top:80;
right:7;
height:30px;
width:45px;
background-color:lime;
font-size:16px;
color:green;
}
#Karte{
visibility:visible;
background-image:url('../Icon/Meer.png');
position:absolute;
top:30;
z-index:1;
height:6840px;
width:7000px;
}
#Kugel1{
visibility:visible;
background-image:url('../Icon/Kugel1.png');
position:absolute;
top:1900;
left:1800;
z-index:50;
height:50px;
width:50px;
}
#WasserEinschlag1,#WasserEinschlag2{
visibility:visible;
background-image:url('../Icon/WasserEinschlag.png');
position:absolute;
top:1900;
left:1800;
z-index:50;
height:60px;
width:60px;
}
#pirat1{
visibility:visible;
background-image:url('../Icon/pirat1.png');
position:absolute;
top:0;
left:0;
z-index:50;
height:30px;
width:30px;
}
#WindHosenBild{
position:fixed;
z-index:54;
height:50px;
width:50px;
bottom:0;
left:600;
}
#HaschJutti3000{
position:absolute;
top:0;
right:0;
height:50px;
width:210px;
z-index:21;
color:lime;
background-color:navy;
}