#Wolke1{
background-image:url('../Icon/Wolken/Wolke.1.png');
position:absolute;
top:300;
left:200;
z-index:10;
height:150;
width:200;
}
#Wolke2{
background-image:url('../Icon/Wolken/Wolke.2.png');
position:absolute;
top:900;
left:800;
z-index:10;
height:200;
width:300;
}
#Wolke3{
background-image:url('../Icon/Wolken/Wolke.3.png');
position:absolute;
top:400;
left:600;
z-index:10;
height:200;
width:300;
}
#GewitterWolke{
visibility:visible;
background-image:url('../Icon/Wolken/Wolke.Gewitter.1.png');
position:absolute;
top:120;
left:120;
z-index:10;
height:150;
width:200;
}