#Havanna{
visibility:hidden;
background-image:url('../Icon/Stadt.png');
position:absolute;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HavannaHafenBild{
background-image:url('../Icon/HavannaHafenBild.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#HavannaLeute{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaGeld{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaNahrung{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#HavannaExit{
background-image:url('../Icon/Exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaTaverneKnopf{
background-image:url('../Icon/Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaTaverne{
visibility:hidden;
background-image:url('../Icon/Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaTaverneAnheuern{
background-image:url('../Icon/Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaTaverneExit{
background-image:url('../Icon/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaKontor{
visibility:hidden;
background-image:url('../Icon/Stadt.png');
position:absolute;
top:90;
left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaKontorExitKnopf{
background-image:url('../Icon/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaKontorKaufenKnopf{
background-image:url('../Icon/Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaKontorVerkaufenKnopf{
background-image:url('../Icon/Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaKontorKnopf{
background-image:url('../Icon/Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HavannaHafen{
visibility:hidden;
background-image:url('../Icon/Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#HavannaHafenExitKnopf{
background-image:url('../Icon/exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#HavannaHafenReparierenKnopf{
background-image:url('../Icon/Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HavannaHafenKnopf{
background-image:url('../Icon/Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}