body{
background-color:black;
overflow:hidden;
}
#bewegungsCounter{
position:absolute;
bottom:100;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
#bewegungsCounter2{
position:absolute;
bottom:100;
height:60;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
#WindHose{
visibility:hidden;
position:absolute;
height:60;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
#WindRichtung{
visibility:hidden;
position:absolute;
height:60;
width:140;
background-color:lime;
font-size:56px;
color:green;
}
.KielWasser{
background-image:url('KielWasser.png');
position:absolute;
z-index:2;
height:40;
width:40;
}
#Log1{
visibility:hidden;
background-image:url('Log.png');
position:absolute;
left:0;
top:200;
z-index:34;
height:120;
width:90;
}
#Symbole{
background-image:url('Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole2{
background-image:url('Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole3{
background-image:url('Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Symbole4{
background-image:url('Log.png');
position:absolute;
left:60;
top:-20;
height:120;
width:90;
}
#Leute1{
position:absolute;
top:13;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Geld1{
position:absolute;
top:45;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Nahrung1{
position:absolute;
top:80;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Leute2{
position:absolute;
top:13;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Geld2{
position:absolute;
top:45;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Nahrung2{
position:absolute;
top:80;
right:7;
height:30;
width:45;
background-color:lime;
font-size:16px;
color:green;
}
#Log2{
visibility:hidden;
background-image:url('Log.png');
position:absolute;
right:0;
top:200;
z-index:34;
height:120;
width:90;
}
#Karte{
visibility:visible;
background-image:url('boden.blau.png');
position:absolute;
z-index:1;
height:840;
width:1250;
}
#Karte2{
visibility:hidden;
background-image:url('boden.blau2.png');
position:absolute;
z-index:1;
height:840;
width:1250;
}
#Karte3{
visibility:hidden;
background-image:url('boden.blau3.png');
position:absolute;
z-index:1;
height:840;
width:1250;
}
#Kompass{
background-image:url('Kompass.png');
position:absolute;
z-index:45;
left:600;
bottom:0;
height:50;
width:50;
}
#Insel{
visibility:visible;
background-image:url('Insel.png');
position:absolute;
z-index:1;
left:300;
top:300;
height:200;
width:200;
}
#Havanna{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HafenBildHavanna{
background-image:url('HafenBildHavanna.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#LeuteHavanna{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#GeldHavanna{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#NahrungHavanna{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}

#ExitHavanna{
background-image:url('Exit.png');
visibility:hidden;
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#TaverneHavannaKnopf{
background-image:url('Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#TaverneHavanna{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
top:90;
Left:10;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#TaverneHavannaAnheuern{
background-image:url('Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#ExitTaverneHavanna{
background-image:url('exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#LeuteHavanna2{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#GeldHavanna2{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#NahrungHavanna2{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#Havanna2{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
right:0;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HafenBildHavanna2{
background-image:url('HafenBildHavanna.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#ExitHavanna2{
background-image:url('Exit.png');
visibility:hidden;
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#TaverneHavanna2Knopf{
background-image:url('Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#TaverneHavanna2{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
top:90;
right:10;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#TaverneHavanna2Anheuern{
background-image:url('Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#ExitTaverneHavanna2{
background-image:url('exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
ExitTaverneHavanna2
#Ischtuk{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#Ischtuk{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
left:0;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HafenBildIschtuk{
/*visibility:hidden;*/
background-image:url('HafenBildIschtuk.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#ExitIschtuk{
background-image:url('Exit.png');
visibility:hidden;
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#ExitTaverneIschtuk{
background-image:url('exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#LeuteIschtuk{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#GeldIschtuk{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#NahrungIschtuk{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#TaverneIschtukAnheuern{
background-image:url('Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#TaverneIschtukKnopf{
background-image:url('Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#TaverneIschtuk{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
top:90;
Left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#KontorIschtuk{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
top:90;
left:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#ExitKontorIschtukKnopf{
background-image:url('exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#KaufenKontorIschtukKnopf{
background-image:url('Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#VerkaufenKontorIschtukKnopf{
background-image:url('Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}

#KontorIschtukKnopf{
background-image:url('Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#Ischtuk2{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
right:0;
z-index:34;
height:80;
width:600;
Background-color:blue;
}
#HafenBildIschtuk2{
background-image:url('HafenBildIschtuk.png');
position:absolute;
z-index:34;
height:60;
width:60;
Background-color:blue;
}
#ExitIschtuk2{
background-image:url('Exit.png');
visibility:hidden;
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#LeuteIschtuk2{
position:absolute;
top:-5;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#GeldIschtuk2{
position:absolute;
top:30;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#NahrungIschtuk2{
position:absolute;
top:65;
height:23;
width:90;
background-color:lime;
font-size:16px;
color:green;
left:90;
}
#TaverneIschtuk2Anheuern{
background-image:url('Anheuern.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#ExitTaverneIschtuk2{
background-image:url('exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#TaverneIschtuk2Knopf{
background-image:url('Taverne.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}

#TaverneIschtuk2{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#KontorIschtuk2{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#ExitKontorIschtuk2Knopf{
background-image:url('exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}

#KaufenKontorIschtuk2Knopf{
background-image:url('Kaufen.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#VerkaufenKontorIschtuk2Knopf{
background-image:url('Verkaufen.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}

#KontorIschtuk2Knopf{
background-image:url('Kontor.png');
position:absolute;
z-index:34;
right:120;
height:60;
width:60;
Background-color:blue;
}
#HafenIschtuk2{
visibility:hidden;
background-image:url('Stadt.png');
position:absolute;
top:90;
right:0;
z-index:14;
height:80;
width:600;
Background-color:blue;
}
#ExitHafenIschtuk2Knopf{
background-image:url('exit.png');
position:absolute;
z-index:34;
right:0;
height:60;
width:60;
Background-color:blue;
}
#ReparierenHafenIschtuk2Knopf{
background-image:url('Reparieren.png');
position:absolute;
z-index:34;
right:60;
height:60;
width:60;
Background-color:blue;
}
#HafenIschtuk2Knopf{
background-image:url('Hafen.png');
position:absolute;
z-index:34;
right:180;
height:60;
width:60;
Background-color:blue;
}

#MyDiv{
position:absolute;
z-index:3;
height:60;
width:60;
}
#MyDiv2{
position:absolute;
z-index:3;
height:60;
width:60;
}
#WindHosenBild{
position:absolute;
z-index:54;
height:50;
width:50;
bottom:0;
left:600;
}
#boden{
position:absolute;
bottom:0;
left:0;
height:60;
width:100%;
background-image:url('ReifenWaagerechtUnten.png');
}
#decke{
position:absolute;
top:0;
left:0;
height:60;
width:100%;
background-image:url('ReifenWaagerechtOben.png');
}
#links{
position:absolute;
top:0;
left:0;
height:100%;
width:60;
background-image:url('ReifenSenkrechtLinks.png');
}
#rechts{
position:absolute;
top:0;
right:0;
height:100%;
width:60;
background-image:url('ReifenSenkrechtRechts.png');
}
#HaschJutti3000{
position:absolute;
top:0;
right:0;
height:50;
width:210;
z-index:21;
color:lime;
background-color:navy;
}
div#minimapcontainer {	
}
canvas#minimap {
 position : absolute;
 background-color:navy;
}
canvas#minimapobjects {
 position : absolute;
}